@use './colors.scss' as c;

:root {
   --background-primary: #ffffff;
   --background-secondary: #f3f6ff;
   --background-accent: #ffffff;

   --text-primary: #0B0F19; 
   --text-secondary: #565973; 
   --text-accent: #9397AD;  

   --market-background: #131022;
   --market-background-hover: #1a162f;
}

body.dark-mode {
   --background-primary: #0B0F19;
   --background-secondary: #151822;
   --background-accent: #1e212b;

   --text-primary: #ffffff;
   --text-secondary: #B4B7C9;
   --text-accent: #9397AD;

   --market-background: #EFF2FC;
   --market-background-hover: #d2daf7;
}