@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/colors.scss' as c;
@use '../../styles/abstracts/font-variables' as fv;



.hero {
   padding-bottom: 5rem;
   background-color: c.$clr-background-secondary;
   
   // @include b.breakpoint(768) {
   @include b.breakpoint(992) {
      height: 40rem;
      margin-bottom: 9rem; // Add space for the block below
      padding-bottom: 10rem;
   }

   @include b.breakpoint(1200) {
      height: 43.75rem;
      margin-bottom: 11rem;
      padding-bottom: 10rem;
   }
   
}


.container {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   
   // @include b.breakpoint(992) {
   //    flex-direction: row;
   //    gap: 0;
   // }
}