@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/colors.scss' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;




// Consultation form section
.consultation {
   width: 94%;  // Adding some space between the card and edge
   margin-inline: auto;
   
   
   padding-block: 2.5rem;
   // position: relative; // PC
   display: flex;
   flex-direction: column;
   margin-top: 1rem;

   //PC
   @include b.breakpoint(992) {
      width: 40rem;
      height: 45rem;
      padding: 4.5rem;
      padding-inline: 4rem;
      margin-top: 3rem;
      top: 5rem; // Offsetting from the top to create visual separation

   }


   background-color: c.$clr-background-primary;
   border-radius: 0.5rem;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

   .consultation__header {
      text-align: center;

      @include fm.text-style(fv.$h4, c.$clr-text-primary, 800);

      @include b.breakpoint(768) {
         @include fm.text-style(fv.$h2, c.$clr-text-primary, 800);
      }

      @include b.breakpoint(992) {
         text-align: left;
      }

   }

   
   .consultation__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-inline: 1.5rem; 
      margin-block: 3rem;  // Some spacing for the form

      @include b.breakpoint(992) {
         margin-inline: 0;
         width: 100%
      }
      
      // margin-top: -7rem;
   }
   
   .consultation__label {
      @include fm.text-style(fv.$h6, c.$clr-text-primary, 600, 1.6);
   }


   // Styles for form input fields (text, email, dropdown)
   .consultation__input {
      width: 100%;   
      padding: 0.9rem;

      border: 1px solid c.$clr-grey-400;
      border-radius: 0.5rem;

      font-size: 1rem;
      @include fm.text-style(fv.$h6, c.$clr-text-primary);


      &::placeholder {
         color: c.$clr-grey-500; // Lighter color for placeholder text
         font-style: italic;
      }
      
      &:hover,
      &:focus-visible {
         outline: 2px solid c.$clr-primary;
      }

      body.dark-mode & {
         background-color: #191d27;
      }
   }


   // Removing default arrow and style a custom one for better looks
   // .consultation__select select {
   //    appearance: none;
   //    background: url('/down-arrow.svg') no-repeat right 1rem center;
   //    background-size: 1.3rem; 
   //    color: c.$clr-text-primary;
   // }


   .consultation__select {
      position: relative;
  }
  .consultation__select select {
      appearance: none;
      background: none; /* Ta bort befintlig bakgrund */
      padding-right: 2rem; /* Anpassa utrymme för pil */
  }
  .consultation__select::after {
      content: '';
      position: absolute;
      top: 65%;
      right: 1rem;
      border-width: 0.4rem 0.4rem 0;
      border-style: solid;
      border-color: c.$clr-text-primary transparent transparent transparent;
      pointer-events: none;
  }






   // Make placeholder text a different color, making it clearer that it can't be picked as an option
   .consultation__select select option[value="default"] {
      color: c.$clr-grey-600;
   }


   // Submit button for the form
   .consultation__button {   
      padding: 0.9rem;
      width: 100%;  //pc
      margin-inline: auto; //pc
      margin-top: 5rem;
      
      background-color: c.$clr-primary;
      border-radius: 0.5rem;
      border-color: transparent;
      box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
      outline: none;
      
      
      @include fm.text-style(fv.$nav, #fff, 600, 1.6);
      
      transition: background-color 250ms ease;
      
      @include b.breakpoint(1200) {
         margin-top: 8rem;
      }

      // Change color on hover and focus
      &:hover,
      &:focus-visible {
         background-color: darken(c.$clr-primary, 10%);
      }
   }
}

body.dark-mode .consultation {
   box-shadow: 0 0 12px 2px rgba(255, 255, 255, 0.15);
}

.contact-error {
   margin-left: 0.5rem;
   color: c.$clr-error;
   font-size: 0.9rem;
}