//==========================================================
// Styles for the navigation links within the navbar.
// Includes styles for responsiveness, hover effects, and active states.
//==========================================================

@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/button-variables.scss' as bv;
@use '../../styles/abstracts/colors.scss' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;

.navbar__links {
   // Layout for smaller screens
   @include b.breakpoint(1200, max) {
      position: absolute;
      right: 0;
      top: 3.75rem;
      height: 0; // Hidden by default
      width: 100%;
      overflow: hidden; // Prevents content overflow
      
      background-color: c.$clr-background-primary;
      transition: all 300ms ease;
      z-index: 100;

      // Creating extra border to separate links and login button
      &::before {
         content: '';
         position: absolute;
         top: 12rem; 
         width: 100%;
         height: 1px;
         background-color: rgba(c.$clr-grey-500, 0.5);
      }
   }
}

.navbar__links.active {
   height: 20rem; // Visible when active
   border-block: 1px solid rgba(c.$clr-grey-500, 0.5);

}


.navbar__links-container {
   @include b.breakpoint(1200, max) {
      margin-top: 2rem;
      margin-inline: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5.3rem;
   }

   .navbar__links-group {
      display: flex;
      gap: 2rem; // Space between links

      @include b.breakpoint(1200, max) {
         flex-direction: column; // Stack links on smaller screens 
         align-items: center;

      }

      .navbar__home {
         @include b.breakpoint(1200) {
            display: none; // Hide home link on larger screens
         }
      }
   }



   // ---- Link text styling ----
   .navbar__link-text {
      position: relative;  // For hover animation
      @include fm.text-style(fv.$nav, c.$clr-text-primary, 600);

      transition: 250ms;

      &:hover {
         color: c.$clr-primary; // Highlight on hover
      }
   }

   .navbar__link-text::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: c.$clr-primary;
      transition: 250ms;
   }

   .navbar__link-text:hover::before {
      width: 100%; // Expands underline on hover
   }


   .navbar__auth-button {
      position: absolute; // Aligns within navbar
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      
      @include b.breakpoint(1200, max) {
         position: relative; // Adjusts for smaller screens

         @include bv.btn-size('large');  // Make button a bit larger
         padding-inline: 3em;
      }
      
      .navbar__auth-icon {
         padding-right: 0.5rem;
      }
   }
}