@use '../styles/abstracts/breakpoints.scss' as b;
@use '../styles/abstracts/colors.scss' as c;
@use '../styles/abstracts/font-mixins.scss' as fm;
@use '../styles/abstracts/font-variables.scss' as fv;


footer {
   padding-bottom: 3.4rem;

   // Centering content ensuring layout works on different screen sizes
   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include b.breakpoint(768) {
         flex-direction: row;
         gap: 0.3rem;
      }
   }

   // Footer text-styling
   p {
      @include fm.text-style(fv.$b-sm, c.$clr-text-accent);
   }
}