// navbar.scss
//==========================================================
// This component serves as the main navigation bar for the application.
// It includes the logo, navigation links, a hamburger menu for mobile and tablet view,
// and a toggle for dark mode.
//==========================================================

@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/button-variables.scss' as bv;
@use '../../styles/abstracts/colors' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;

.navbar {
   position: sticky;
   top: 0;
   z-index: 1000;
   background-color: c.$clr-background-primary;

    
   border: 1px solid rgba(c.$clr-grey-500, 0.5);


   // Provides a way to skip directly to the main content.
   .skip-link {
      position: absolute;
      top: 5rem;
      left: -100vw; // Hidden off-screen initially
      display: inline-block;
      outline: none;
      padding: 1rem;
      background-color: c.$clr-bg;
      border: 1px solid c.$clr-primary;
      border-radius: 0 0.6rem 0.6rem 0;
      transition: 250ms;

      &:focus {
         left: 0; // Moves into view when focused
      }
   }

   // --- Navbar Container ---
   .container {
      position: relative; // Ensures positioning within the navbar
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5rem;
   }
}