@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/button-variables' as bv;
@use '../../styles/abstracts/colors' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;

// ==========================================
// FAQ Item Component
// 
// Styles for individual FAQ items in the accordion list
// - Question section with toggle button for expanding answers
// - Answer section with expandable content that reveals on click
// ==========================================


// ---------------------------------------
// Question Section
// - Displays FAQ question text with a toggle button
// - Clicking this section will reveal or hide the answer
// ---------------------------------------
.faq__item-question {
   display: flex;  // Enables flexbox for horizontal alignment of question text and button
   justify-content: space-between;  // Spaces question text and button to opposite ends
   align-items: center;
   padding-block: 0.6rem;
   cursor: pointer;

   
   // ---- Text Styling ----
   &--text {
      padding-block: 1em;
      padding-inline: 0.5em;
      text-wrap: pretty;  // Ensures that text wraps nicely if it overflows

      @include fm.text-style(fv.$h6, c.$clr-text-primary, 600);

      @include b.breakpoint(768) { line-height: 1.6; }
   }

   // ---- Button Styling ----
   .btn-circle {
      background-color: transparent;  // Makes the button background transparent
      border: none;
      
      i {
         background-color: c.$clr-grey-100;
         font-size: 1.75rem;  // Sets chevron size for visibility        
         transition: all 350ms ease;
      }

      // - Rotates the icon and changes colors when the FAQ item is open
      &.open i {
         transform: rotate(180deg);
         background-color: c.$clr-primary;
         color: #fff;
         
      }
   }
}



// ---------------------------------------
// Answer Section
// - Displays FAQ answer text, hidden by default
// - Expands when FAQ item is opened, controlled by grid-template-rows
// ---------------------------------------
.faq__item-answer {
   display: grid;
   grid-template-rows: 0fr;
   padding-inline: 0.5rem;
   overflow: hidden;  // Prevents content from overflowing when collapsed

   @include fm.text-style(fv.$b-sm, c.$clr-text-secondary, 400, 1.6);

   // Adds transition effect for smooth expansion of answer section
   transition: grid-template-rows 350ms ease, padding-bottom 350ms ease;

   &--expand {
      min-height: 0px;  // Ensures the expanded state has a minimum height of 0 to avoid spacing issues
   }
}

// ---- Styles for Open State of Answer Section ----
// - When the FAQ item is open, adjusts grid row height and padding to display the answer
.open .faq__item-answer {
   grid-template-rows: 1fr;
   padding-bottom: 0rem;
   margin-block: 1rem;
}

// ---- Styles for Open State of Question Section ----
// - Adjusts padding for the question section when FAQ item is open
.open .faq__item-question {
   padding-bottom: 0rem;
}