@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/colors' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;

// ==========================================
// FAQ Header Section
// 
// Styles for the heading section of the FAQ page
// - Defines the main title and subtitle styles
// - Adjusts font size and alignment responsively at larger breakpoints
// ==========================================

.faq__heading {
   grid-area: heading;
   text-align: center;
   padding-inline: 1rem;

   // ---- Title Styling ----
   &-title {
      width: 90%;  // Sets the width of the title to 90% of the container for alignment
      margin-inline: auto;  // Centers the title horizontally
      padding-bottom: 1rem;
      text-wrap: pretty;  // Ensures that text wraps nicely if it overflows
      @include fm.text-style(fv.$h3, c.$clr-text-primary, 800);

      @include b.breakpoint(768) {  // Increase font size at tablet/desktop size
         font-size: fv.$h2;
      }

      // ---- Desktop Adjustment ----
      @include b.breakpoint(1400) { 
         text-align: left;  // Aligns the title to the left
         margin-inline: 0;  // Removes horizontal centering margin
         padding-bottom: 2rem;
      }
   }

   // ---- Subtext Styling ----
   &-text {
      margin-inline: auto;  // Centers the subtitle horizontally
      padding-bottom: 2.5rem;
      width: 90%;
      text-wrap: pretty; 
      @include fm.text-style(fv.$b-lg, c.$clr-text-secondary, 400, 1.6);

      // ---- Desktop Adjustment ----
      @include b.breakpoint(1400) {  
         text-align: left;  // Aligns the subtitle text to the left
         margin-inline: 0;  
         padding-bottom: 0rem;  // Removes bottom padding for a tighter layout
      }
   }
}