@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/colors.scss' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;


// ==========================================
// FAQ Contact Section
// 
// Handles the layout and styling for the FAQ contact section.
// - Mobile: Displays a single "Contact us now" button centered.
// - Tablet: Shows two contact boxes with icons, each providing a different contact option.
// ==========================================

.faq__contact {
   grid-area: contact;
   display: flex;  // Enables flexbox layout for aligning content
   justify-content: center;
   align-items: center;
   padding-top: 3rem;

   // ---- Desktop Adjustments ----
   @include b.breakpoint(1400) {
      padding-top: 2.5rem;
      align-items: flex-start;  // Aligns content to the top
   }

   // ---- Mobile button styling ----
   &-mobile {
      @include b.breakpoint(768) { display: none; }
   }

   // ---- Tablet/Desktop Box Container ----
   &-tablet {
      @include b.breakpoint(768, max) { display: none; }
      display: flex;  // Enables flexbox layout for arranging the boxes
      gap: 2rem;
      justify-content: space-between;  // Distributes boxes evenly across the width
      width: 100%;  // Sets container width to full available space
   }

   
   // ---------------------------------------
   // FAQ Contact Box
   // Styles for each contact box displayed in tablet/desktop views
   // ---------------------------------------
   .contact__box {
      display: flex;  // Enables flexbox for vertical alignment
      flex: 1;  // Allows each box to grow and fill the container equally
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;  // Aligns content to the left horizontally
      gap: 1.25rem;
      padding-block: 1.75rem;
      padding-left: 1.5rem;
      border: 1px solid c.$clr-grey-300;
      border-radius: 0.5rem;

      // ---- Text Styling for Descriptive Text inside the box ----
      &-text {
         @include fm.text-style(fv.$b-sm, c.$clr-text-secondary, 400, 1.6);
      }

      // ---- Link Styling with Modifier Classes for Colors ----
      &-link {
         @include fm.text-style(fv.$b-sm, c.$clr-primary, 600, 1.6);

         &-primary { color: c.$clr-primary; }
         &-success { color: c.$clr-success; }
      }
   }
}   