@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/colors.scss' as c;


// ==========================================
// FAQ Container
// 
// This section sets up the main grid layout for the FAQ component,
// defining how the sections should be arranged on mobile and desktop views.
// ==========================================
.faq .container {   
   display: grid;
   grid-template-areas:
      "heading"
      "accordion"
      "contact";

   @include b.breakpoint(1400) {
      grid-template-columns: 1fr 2fr;  // Two columns, 1 fraction on the left, 2 fractions on the right
      grid-template-rows: 0.5fr 1fr;  // Two rows, with the first row shorter than the second
      grid-template-areas: 
         "heading accordion"
         "contact accordion";
   }
}

// ==========================================
// Accordion Section 
// Styles for the accordion container, where FAQ items are displayed.
// ==========================================
.faq__accordion {
   grid-area: accordion;

   @include b.breakpoint(768, max) {
      padding-inline: 0.75rem;
   }
   
   // ---- Desktop Adjustments ----
   @include b.breakpoint(1400) {
      margin-left: 8.375rem;  // Extra left margin to position the accordion within the grid layout
   }
}

// ==========================================
// FAQ Section Item Styling
// 
// Defines styling for each individual FAQ section, including spacing, borders,
// and conditional styling for first and last items to handle rounded corners.
// ==========================================
.faq__section {
   @include b.breakpoint(768, max) {
      // ---- Mobile and Tablet Adjustments ----
      margin-bottom: 0;
      box-shadow: none;


      // ---- Adjustments for Border Overlap ----
      // Overlaps borders slightly to avoid double border effect
      &:not(:first-of-type) {
      margin-top: -1px;
      }

      // ---- First Item Styling ----
      // Removes bottom border-radius for seamless connection with the next item
      &:first-of-type {
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
      }
   
      // ---- Last Item Styling ----
      // Removes top border-radius for seamless connection with the previous item
      &:last-of-type {
         border-top-left-radius: 0;
         border-top-right-radius: 0;
      }
   
      // ---- Middle Items Styling ----
      // Removes border-radius for all middle items to create straight edges
      &:not(:first-of-type):not(:last-of-type) {
         border-radius: 0; 
      }
   }

   // ---- General Styling for All FAQ Items ----
   padding-inline: 1.5rem;
   margin-bottom: 0.5rem;
   border: 1px solid c.$clr-grey-300;
   border-radius: 0.5rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  // Adds subtle shadow for depth and separation
}