@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/colors.scss' as c;


// ==========================================
// FAQ Container
// 
// This section sets up the main grid layout for the FAQ component,
// defining how the sections should be arranged on mobile and desktop views.
// ==========================================
.faq .container {   
   display: grid;
   grid-template-areas:
      "heading"
      "accordion"
      "contact";

   @include b.breakpoint(1400) {
      grid-template-columns: 1fr 2fr;  // Two columns, 1 fraction on the left, 2 fractions on the right
      grid-template-rows: 0.5fr 1fr;  // Two rows, with the first row shorter than the second
      grid-template-areas: 
         "heading accordion"
         "contact accordion";
   }
}

// ==========================================
// Accordion Section 
// Styles for the accordion container, where FAQ items are displayed.
// ==========================================
.faq__accordion {
   grid-area: accordion;

   // ---- Spacing and Border Styling ----
   @include b.breakpoint(768, max) {
      margin-inline: 0.75rem;
      padding-inline: 1.5em;
      border: 1px solid c.$clr-grey-300;
      border-radius: 1rem;
   }
   
   // ---- Desktop Adjustments ----
   @include b.breakpoint(1400) {
      margin-left: 8.375rem;  // Extra left margin to position the accordion within the grid layout
   }
}

.faq__section {
   @include b.breakpoint(768, max) { 
      padding-inline: 0rem; 
      margin-bottom: 0rem; 
      border: none; 
      border-bottom: 1px solid c.$clr-grey-300;
      box-shadow: none; 
   }

   padding-inline: 1.5rem;
   margin-bottom: 0.5rem;
   border: 1px solid c.$clr-grey-300;
   border-radius: 0.5rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}