@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/button-variables' as bv;
@use '../../styles/abstracts/colors' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;


// ===========================================
// FaQ Section - accordion and API
// ===========================================


// ---------------------------------------
// Heading Section
// ---------------------------------------
.faq__heading {
   grid-area: heading;
   text-align: center;
   padding-inline: 1rem;

   // ---- Title Styling ----
   &-title {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 1em;
      @include fm.text-style(fv.$h4, c.$clr-text-primary, 800);

      @include b.breakpoint(768) {
         @include fm.text-style(fv.$h2, c.$clr-text-primary, 800);
      }
   }

   // ---- Subtext Styling ----
   &-text {
      padding-bottom: 3em;
      @include fm.text-style(fv.$b-lg, c.$clr-text-secondary);
      text-wrap: pretty;
   }
}

   
// ---------------------------------------
// Accordion Section
// ---------------------------------------
.faq__accordion {
   grid-area: faq;
   margin-inline: 0.75rem;
   padding-inline: 1.5em;
   border: 1px solid c.$clr-grey-300;
   border-radius: 1rem;
   
   @include b.breakpoint(1400) {
      display: flex;
      flex-direction: column;
   }
}
      

// ---------------------------------------
// Question Section
// ---------------------------------------
.faq__item-question {
   display: flex;
   justify-content: space-between;
   align-items: center;
   // border-bottom: 1px solid c.$clr-grey-300;
   cursor: pointer;

   
   // ---- Text Styling ----
   &--text {
      padding-block: 1em;
      padding-inline: 0.5em;
      // padding-left: 0.5em;
      text-wrap: pretty;
      @include fm.text-style(fv.$h6, c.$clr-text-primary, 600); // Text styling mixin
   }

   // ---- Button Styling ----
   .btn-circle {
      background-color: transparent;
      border: none;
      transition: all 350ms;
      
      i {
         background-color: c.$clr-grey-100;
      }
   }

   .open i {
      rotate: 180deg; // Rotate icon on open state
      background-color: c.$clr-primary;
      color: #fff
   }
}


.faq__item-answer {
   display: grid;
   grid-template-rows: 0fr;
   padding-inline: 0.5rem;
   overflow: hidden;

   @include fm.text-style(fv.$b-sm, c.$clr-text-secondary);

   transition: grid-tamplate-rows 350ms, padding-bottom 350ms;

   &--expand {
      min-height: 0px;
   }
}

.open .faq__item-answer {
   grid-template-rows: 1fr;
   padding-bottom: 1rem;
}



   .faq__contact {
      grid-area: contact;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      
      .contact-box {
         padding-block: 4em;
      }
      
      .contact-box-btn {
         @include bv.btn-size('medium');
         @include bv.btn-primary();
      
         &::after {
            content: " now";
         }
      }

      .contact-box-text {
         display: none;
      }
      
      .contact-box-hide {
         display: none;
      }
   }   
    