@use '../../styles/abstracts/breakpoints' as b;

.showcase__image {
   grid-area: image;
   position: absolute;
   bottom: 0;
   right: 0;
   margin-right: 2.1875rem;
   margin-top: 2rem;
   display: none;

   @include b.breakpoint(768) {
      display: block;    
   }
   // @include b.breakpoint(768) {
   //    display: block;  
   // }

   @include b.breakpoint(1200) {
      bottom: 7.6rem;
      right: 6.2rem;
      
      img {
         width: 100%; 
         scale: 165%; 
         height: auto;
      }
   }
      
   
   @include b.breakpoint(1400) {
      bottom: 8.5rem;
      right: 6.9rem;
   }
}