@use '../abstracts/colors' as c;
@use '../abstracts/typography-variables' as tv;


// Circular buttons for email and career icons
.contact-button {
   position: absolute;
   top: 0;
   left: -3.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0; // Prevent shrinking when space is constrained

   width: 3.75rem;
   aspect-ratio: 1;
   border-radius: 50%;

   background-color: c.$clr-btn-round;
   color: c.$clr-btn-text-circle;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); // Subtle shadow for depth

   font-size: 1rem;
}


// Hero Section Styles
// Main hero section with background and fixed height
.hero {
   height: 43.75rem;
   margin-bottom: 13rem; // Add space for the block below

   background-color: c.$clr-grey-100;
}


// Main Container Styles
// Wrapper that holds both the contact and consultation sections
.container {
   display: flex;
   justify-content: space-between;

   height: 43.75rem;
}


// Contact section
// Layout and typography for the contact information and links
.contact__container {
   display: flex;
   flex-direction: column;
   gap: 5rem;

   padding: 4rem;

   // Header styles
   .contact__header {
      @include tv.font(40, c.$clr-grey-900, 800);
   }


   // Contact method box styles
   .contact__method-box {
      // position: relative;  
      display: flex;
      align-items: center;
      gap: 1rem;

      width: 24.375rem;
      padding-left: 2rem;
   }

   // Title style
   .contact__title {
      @include tv.font(24, c.$clr-grey-900, 800);
   }

   // Description text
   .contact__text {
      @include tv.font(16, c.$clr-grey-700);
      padding-block: 0.75rem
   }

   // Links for "Leave a message" and "Send an application"
   .contact__link {
      text-decoration: none;
      @include tv.font(16, c.$clr-primary, 600);

      transition: all 250ms ease;

      span {
         padding-left: 0.75rem; // Add space for the arrow icon
         vertical-align: -1px; // Adjust the arrow alignment very slightly
      }

      &:hover,
      &:focus-visible {
         color: darken(c.$clr-primary, 10%);
         font-weight: 800;
      }
   }
}


// Consultation form section
.consultation__container {
   position: relative;
   top: 5rem; // Offsetting from the top to create visual separation
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   width: 40rem;
   height: 45rem;
   padding: 4.5rem;

   background-color: #fff;
   border-radius: 0.5rem;
   box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.2);

   // Header and form label styles
   .consultation__header {
      @include tv.font(32, c.$clr-grey-900, 800);
   }

   .consultation__label {
      @include tv.font(16, c.$clr-grey-900, 600);
   }

   // Form layout
   .consultation__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      margin-top: -7rem; // Moving up, closer to the title
   }


   // Styles for form input fields (text, email, dropdown)
   .consultation__form-input {
      width: 100%;
      padding: 0.9rem;

      border: 1px solid c.$clr-grey-400;
      border-radius: 0.5rem;

      font-size: 1rem;

      transition: outline 100ms ease;

      &:hover {
         outline: 2px solid c.$clr-primary;
      }

      &:focus-visible {
         outline: 2px solid darken(c.$clr-primary, 10%);
      }
   }


   // Removing default arrow and style a custom one for better looks
   .consultation__select select {
      appearance: none;
      background: url('/images/icons/down-arrow.png') no-repeat right 1rem center;
      background-size: 1rem;
   }

   // Make placeholder text a different color, making it clearer that it can't be picked as an option
   .consultation__select select option[value="default"] {
      color: c.$clr-grey-600;
   }


   // Submit button for the form
   .consultation__button {
      padding: 0.9rem;

      background-color: c.$clr-primary;
      border-radius: 0.5rem;
      border-color: transparent;
      box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
      outline: none;

      color: #fff;
      @include tv.font(16, #fff, 600);

      transition: background-color 250ms ease;

      // Change color on hover and focus
      &:hover,
      &:focus-visible {
         background-color: darken(c.$clr-primary, 10%);
      }
   }
}