
@use '../../styles/abstracts/breakpoints.scss' as b;
@use '../../styles/abstracts/colors.scss' as c;
@use '../../styles/abstracts/font-mixins.scss' as fm;
@use '../../styles/abstracts/font-variables.scss' as fv;


.slider-section {
   background-color: c.$clr-background-secondary;
   padding-block: 4rem;

   .container {
      gap: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      @include b.breakpoint(768) {
         width: 100%;
      }
   }

   .slider__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   
   
      &-title {
         @include fm.text-style(fv.$h2, c.$clr-text-primary, 800);
      }
   }

   .slider__slide-text {
      display: none; 
      text-align: center;
      margin-top: 10px;
   }
   
   .slider__slide-title {
      margin-inline: auto;
      width: 80%;
      @include fm.text-style(fv.$h3, c.$clr-text-primary, 800, 1.4);

      @include b.breakpoint(768) {
         width: 100%;
      }
   }

   .slider__slide-description {
      padding-inline: 0.75rem;
      margin-top: 1rem;
      text-wrap: pretty;
      @include fm.text-style(fv.$h6, c.$clr-text-secondary, 400, 1.6);  

      @include b.breakpoint(568) {
         margin-inline: -6rem;
      }
   }


   .swiper {
      width: 100%;
      max-width: 1200px;
   }
   
   .swiper-slide {  
      height: auto;
      width: auto;
      opacity: 0.75;
      transform: scale(0.85);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
   }
   
   .swiper-slide-active {
      opacity: 1; // Full opacity for active slide
      transform: scale(1);   
   }
   

   
   .swiper-slide-active .slider__slide-text {
      display: block;    }
   
   
   .slider__img {
      width: 300px;
      height: 660px;
      margin-inline: auto;

   }
}