.space-y-1>*+* {
   margin-top: 1rem;
 }
.space-y-2>*+* {
   margin-top: 2rem;
 }
.space-y-3>*+* {
   margin-top: 3rem;
 }
.space-y-4>*+* {
   margin-top: 4rem;
 }
.space-y-5>*+* {
   margin-top: 5rem;
 }
.space-y-6>*+* {
   margin-top: 6rem;
 }
.space-y-7>*+* {
   margin-top: 7rem;
 }

 .mb-4 {
  margin-bottom: 4rem;
 }

 .mb-5 {
  margin-bottom: 5rem;
 }

 .m-block-4 {
  margin-block: 4rem;
 }

 .m-block-5 {
  margin-block: 5rem;
 }

 // Debug
 .border-error-1 {
  border: 2px dashed red;
 }
 .border-error-2 {
  border: 2px dashed cyan;
 }
 .border-error-3 {
  border: 2px dashed darkolivegreen;
 }
 .border-error-4 {
  border: 2px dashed darkorange;
 }